
  thead {
    padding:10;
  }
  tr {
    padding: 10px;
  }
  thead tr{
    padding: 10;
  }
  td {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #2C3845;
  }
  table {
    width: 100%;
  }
  
  th {
    text-align: left;
    font-weight: 700;
  }
  thead th {
      background-color: #2C3845;
      color: #fff;
      border: 1px solid #2C3845;
      padding:5;
      text-align: center;
  }

  tbody tr:nth-child(even)
  {
    background-color: #5b5f63;
  }